.style1 {
    color:red;
}
.style2 {
    font-family: Cambria;
    font-size: 16px;
    color: green;
}
.style3 {
    font-size: 14px;
}


.style4 {
    background-image: url("pic.jpg");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    float: right;
}